/* Body */

body {
    font-family: 'Roboto', sans-serif;
}

.sh-hero-background {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.67), rgba(255, 255, 255, 0.67)), url('/-assets/background.png');
    min-width: 100%;
    min-height: 100%;
}

@media only screen and (min-width: 1399px) {
    .sh-hero-background.sh-stretch-hero-background {
        background-size: 100%;
    }
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.sh-logo-text {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
}

.sh-nav-item {
    padding-left: 12x;
    padding-right: 12px;
}

.sh-hero-logo {
    line-height: 1.05;
}

li.nav-item a.nav-link {
    color: black !important;
}

li.nav-item a.nav-link:hover {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 25%);
}

li.nav-item a.nav-link.sh-nav-download {
    font-weight: bold;
    text-shadow: 0px 0px 12px rgba(0, 0, 0, 45%);
}

li.nav-item a.nav-link.sh-nav-download:hover {
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 60%);
}

.jumbotron.sh-jumbotron {
    background-color: transparent;
    text-align: center;
    text-shadow: 0px 0px 72px rgba(255, 255, 255, 100%);
}

.sh-section-title {
    text-align: center;
}

.sh-caption-small {
    text-transform: uppercase;
    font-size: 16px;
    color: rgba(0, 0, 0, 80%);
    font-weight: bold;
    text-align: center;
}

.sh-section-divider {
    border-top: 1px solid #DFDFDF;
    max-width: 480px;
    margin-bottom: 24px;
}

.sh-footer-brand {
    color: black;
}

.sh-footer-brand:hover {
    color: #333;
}

.sh-footer-large {
    font-size: 36px;
}

@media only screen and (max-width: 330px) {
    .sh-footer-large {
        font-size: 34px;
    }
}

.sh-navbar-toggler {
    padding-left: 0px;
    padding-right: 0px;
}

.sh-feature-row {
    padding: 16px;
}

@media only screen and (max-width: 768px) {
    .sh-feature-body-col {
        margin-top: 16px;
    }
}

.sh-feature-header {
    font-weight: bold;
}

.sh-feature-header > sup {
    font-size: 50%;
    top: -1em;
}

.sh-feature-body {
    margin-bottom: 0.25rem;
}

.sh-feature-btn {
    margin-top: 5px;
}

.sh-feature-image-col {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .sh-feature-image-container {
        padding-top: 110.53%; /* 1:1 Aspect Ratio */
        position: relative;
    }
    
    .sh-feature-image-container .sh-feature-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
    }
}

.sh-feature-image {
    max-width: 100%;
}

.sh-feature-image-col.sh-feature-body-col {
    padding: 16px;
}

.bold {
    font-weight: bold;
}

.sh-footer-container {
    background-color: white;
    margin-top: 16px;
    padding: 16px;
    padding-bottom: 28px;
}

@media only screen and (max-width: 620px) {
    .sh-hero-logo {
        font-size: calc(2.718rem + 1vw);
    }

    .sh-hero-lead {
        font-size: calc(0.75rem + 1vw);
    }
}

.padding-16 {
    padding: 16px;
}

.margin-16 {
    margin: 16px;
}

.sh-bg-almostwhite {
    background-color: #fcfcfc;
}

.corner-16 {
    border-radius: 16px;
}

.size-100-percent {
    height: 100%;
    width: 100%;
}

.sh-footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 8px;
}

.sh-footer-list > li > a {
    color: #444;
}

.sh-footer-list > li > a:hover {
    color: #888;
}

.sh-footer-social-list-image {
    width: 20px;
    height: 20px;
}

.sh-footer-social-list-item {
    padding-right: 10px;
}

.sh-footer-social-list {
    padding-bottom: 4px;
}

.sh-next-section {
    text-align: center;
    font-size: 18px;
}

.sh-footer-copyright-info {
    color: #666;
}
